<section class="my-sect" id="home">
    <div class="cont-desc">
        <p class="hola">Hola, soy</p>
        
        <p class="name-enzo">Enzo</p>
        <p class="name-berrutti">Berrutti</p>
        <p></p>
        <p class="full-stack"><span class="auto-typed"></span></p>
        
        <p class="personal-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae asperiores fuga recusandae, adipisci blanditiis rerum sequi non sed molestias veritatis, accusamus vero cum! Sint dicta velit nulla nemo vero rem.</p>
        
        <div class="contact-cv">
            <button class="contact">Contactame</button>
            <button class="cv">Mi Portfolio</button>

        </div>
        <div class="cont-follow">
            <i class="fa-brands fa-github"></i>
            <i class="fa-brands fa-linkedin-in"></i> 
            <i class="fa-solid fa-file-arrow-down"></i>               
        </div>
        
        
    </div>
    <div class="image-cont">
         <div class="circle"></div> 
     
        
         <img [@animation-avatar]='state' class="image-color-2" width="500px"  src="assets\images\3d-note.png" alt="">
        <!-- <img [@animation-avatar]='state' class="image-color" width="500px"  src="assets\images\ent-bro-edit.png" alt=""> -->
    </div>
    
   

</section>

