<section class="my-sect" id="home" >
    <div class="cont-desc">
        <p class="hola" #hola>Hola, soy</p>
        <p class="name-enzo" #enzo>Enzo Berrutti</p>
        

        <p class="full-stack" #fullstack><span class="auto-typed"></span></p>
        
        <p class="personal-text" #personaltext>Me gusta crear experiencias digitales atractivas y visualmente agradables. Disfruto del desafío de combinar diseño y funcionalidad para ofrecer productos que cautiven a los usuarios.
        </p>
        
        <div class="contact-cv" #contactcv>
            <a class="contact" href='mailto:enzo.berrutti@gmail.com'>Contactame</a>
            <button class="cv" (click)="scrollTo('project')">Mi Portfolio</button>

        </div>
        <div class="cont-follow" #contfollow>
            
            <a href="https://github.com/EnzoBerrutti" target="_blank">
                <i class="fa-brands fa-github"></i>
              </a>
            <a href="https://www.linkedin.com/in/enzo-berrutti" target="_blank">
                <i class="fa-brands fa-linkedin-in"></i>
              </a>
            
            <i class="fa-solid fa-file-arrow-down" (click)="downloadFile()"></i>               
        </div>
        
        
    </div>
    <!-- <div class="image-cont" #imagecont>
         <div class="circle"></div> 
     
        
         <img [@animation-avatar]='state' class="image-color-2" width="500px"  src="assets\images\hero-modified.webp" alt="" >
        
    </div>
     -->
   

</section>

