.hola, .name-enzo, .name-berrutti,.full-stack,.personal-text,.contact-cv,.cont-follow,.image-cont{
    opacity: 0;
    transform: translateY(90px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    width: 100%;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}



.hola, .name-enzo, .name-berrutti, .full-stack {
    margin: 0;
    padding: 0;
    line-height: 1;
    
}
.my-sect {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    width: 100%;
 
}
.cont-desc{
    width: 900px;
    
    
}
.hola{
    color: var(--ligth-green);
    font-family: "Rajdhani", sans-serif;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    font-weight: 600;
    margin-bottom: 12px;
}
.name-enzo{
    color:var(--light-white);
    font-family: "Rajdhani", sans-serif;
    font-weight: 1000;
    font-style: normal;
    font-size: 7.5rem;
    padding: 0;
    text-align: left;
    /* text-transform: uppercase; */
    /* display: inline; */
    margin-left: -0.4rem;
    /* margin-top: -1.5rem; */
    margin-bottom: 12px;
    width: fit-content;
    
}
.name-berrutti{
    color: white;
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 7rem;
    padding: 0;
    text-transform: uppercase;
    margin-top: -1rem;
    margin-left: -0.4rem;
   
    

}
.full-stack{
    color: var(--ligth-green);
    font-family: "Rajdhani", sans-serif;
    margin: 0;
    padding: 0;
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 12px;
 
}

.personal-text{
    color: #a2abc7;
    font-family: "Rajdhani", sans-serif;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0;
    
    max-width: 635.4px;
}


.image-cont {
    width: 40rem;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 10rem;  
}

.circle{
    
    background-image: radial-gradient(46.99% 43.05% at 2.58% 100%, rgba(46, 48, 56, .4) 0, transparent 100%), radial-gradient(55.18% 55.16% at 12.42% -3.42%, rgba(94, 234, 212, .3) 0, transparent 100%);
    /* background-image: radial-gradient(46.99% 43.05% at 2.58% 100%, rgba(46, 48, 56, .4) 0, transparent 100%), radial-gradient(55.18% 55.16% at 12.42% -3.42%, rgba(112, 220, 211, .3) 0, transparent 100%); */
    width: 30rem;
    height: 30rem;
    box-shadow: 5px 5px 5px 5px rgba(51, 65, 112, 0.1);
    animation: animate 5s ease-in-out infinite;
    transition: all 1s ease-in-out;
    top: -10px;
    position: relative;
    
}
@keyframes animate{
    0%{
        border-radius: 54% 46% 61% 39% / 46% 57% 43% 54% ;
    }
    25%{
        border-radius: 37% 63% 52% 48% / 46% 70% 30% 54% ;
    }
    50%{
        border-radius:37% 63% 76% 24% / 46% 57% 43% 54%  ;
    }
    75%{
        border-radius:53% 47% 57% 43% / 30% 57% 43% 70%  ;
    }
    100%{
        border-radius: 54% 46% 61% 39% / 46% 57% 43% 54% ;
    }
}
.image-color{
    position: absolute;
    top: 110px;
   
}
.image-color-2{
    position: absolute;
    
   
}
ng-tag-canvas{
    position: absolute;
    width: 30rem;
    height: 30rem;
    
}



.contact-cv{
    display: flex;
    width: fit-content;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0;
    margin-left: 0;
    
}
.contact{
    margin-right: 1rem;
}
.contact,.cv{
    
    
    border-radius: 1.5rem;
    background-color:rgba(45,212,191,.1) ;
    color: rgb(94 234 212);
    padding: 12px 32px 12px 32px;
    font-family: 'Ignis et Glacies Sharp', sans-serif;
    font-size: 1.15rem;
    font-weight: bold;
}
.contact:hover,.cv:hover{
    background-color: rgb(94 234 212); 
    color: black;
   
}


.follow-me{
    color:rgb(209 213 219) ;
    font-family: "Rajdhani", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    margin-right: 1rem;
    
}
.cont-follow{
    display: flex;
    align-items: center;
    margin-top: 1rem;
   

}
.buttons{
    display: flex;
    justify-content: space-around;
    
}

.fa-linkedin-in,.fa-github,.fa-file-arrow-down{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(45,212,191,.1);
    width: 2.5rem;
    height: 2.5rem;
    color: rgb(94 234 212);
    border-radius: 50%;
    font-size: 1rem;
    cursor: pointer;
    margin-right: 1rem;

}
.fa-linkedin-in:hover,.fa-github:hover,.fa-file-arrow-down:hover{
    background-color: rgb(94 234 212);
    color: black;
}


@media only screen and (min-width: 768px) and (max-width: 1366px) {
    .hola{
        color: var(--ligth-green);
        font-family: "Rajdhani", sans-serif;
        font-size: 1.1rem;
        margin: 0;
        padding: 0;
        font-weight: 600;
        margin-bottom: 12px;
    }
    .name-enzo{
        color:var(--light-white);
        font-family: "Rajdhani", sans-serif;
        font-weight: 1000;
        font-style: normal;
        font-size: 6.5rem;
        padding: 0;
        text-align: left;
        /* text-transform: uppercase; */
        /* display: inline; */
        margin-left: -0.4rem;
        /* margin-top: -1.5rem; */
        margin-bottom: 12px;
        width: fit-content;
        
    }
   
    .full-stack{
        color: var(--ligth-green);
        font-family: "Rajdhani", sans-serif;
        margin: 0;
        padding: 0;
        font-size: 3.5rem;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 12px;
     
    }
    
    .personal-text{
        color: #a2abc7;
        font-family: "Rajdhani", sans-serif;
        font-size: 1.1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 0;
        
        max-width: 550.95px;
    }
    .contact,.cv{
    
        border-radius: 1.5rem;
        background-color:rgba(45,212,191,.1) ;
        color: rgb(94 234 212);
        padding: 10px 28px 10px 28px;
        font-family: 'Ignis et Glacies Sharp', sans-serif;
        font-size: 1.15rem;
        font-weight: bold;
    }
    .fa-linkedin-in,.fa-github,.fa-file-arrow-down{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(45,212,191,.1);
        width: 2.2rem;
        height: 2.2rem;
        color: rgb(94 234 212);
        border-radius: 50%;
        font-size: 1rem;
        cursor: pointer;
        margin-right: 1rem;
    
    }
    
}

@media only screen and (max-width: 768px){
    .my-sect {
        padding-top: 0;
        display: flex;
        justify-content: center;
        width: 350px;
        
     
    }
    .cont-desc{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        
        
        
        
    }

    .hola{
        
        font-size:1rem;
        
        margin-bottom: 12px;
    }
    .name-enzo{
        
        font-size: 3.5rem;
        width:350px;

    
        margin-left: -3.5px;
        
        
        
    }
   
    .full-stack{
        
        font-size: 1.8rem;
       
     
    }
    
    .personal-text{
        
        font-size: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 0;
        text-wrap: balance;
        
        max-width: 350px;
    }
    .contact-cv{
        display: flex;
        width: 350px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding: 0;
        margin-left: 0;
        
    }
    .contact,.cv{
    
        border-radius: 1.5rem;
        background-color:rgba(45,212,191,.1) ;
        color: rgb(94 234 212);
        padding: 10px 26px 10px 26px;
        font-family: 'Ignis et Glacies Sharp', sans-serif;
        font-size: 0.8rem;
        font-weight: bold;
        
        
    }
    .fa-linkedin-in,.fa-github,.fa-file-arrow-down{
       
        width: 2rem;
        height: 2rem;
        
        font-size: 0.8rem;
        
        margin-right: 1rem;
    
    }

}