
<section id="aboutme">
    <div class="cont-title">
        <h2>Sobre mí</h2>

    </div>
    
    <div class="container-all">
        
        <article class="info-about">
                 
                <div class="subtitle">Soy un Desarrollador Full Stack de Argentina.
                </div>
                <div class="desc-about-1">Vivo en la ciudad de Mar del Plata, 
                    en la provincia de Buenos Aires.
                     Comencé a programar a principios de 2021 cuando empecé la carrera de Programación.
                </div>
                <div class="desc-about-1">
                    
                    A fines de 2023 finalicé mis estudios como Técnico Universitario
                     en Programación en la UTN Mar del Plata con un promedio de 8,03.
                </div>
                <div class="desc-about-2">
                    Actualmente estoy en busca de mi primera oportunidad laboral como programador y, 
                    mientras tanto, continúo aprendiendo distintas tecnologías para mejorar mis habilidades.
                </div>
                <div class="years-info">
                    <div class="container-data">
                        <span>+2</span>
                        <p class="info-data">Años</p>
                        <p class="info-data">Programando</p>
                    </div>
                    <div class="container-data">
                        <span>27</span>
                        <p class="info-data">Años</p>
                        <p class="info-data">de Edad</p>
                    </div>
                    <div class="container-data">
                        <span>+5</span>
                        <p class="info-data">Lenguajes</p>
                        <p class="info-data">Utilizados</p>
                    </div>
    
                </div>
                 <button>
                    Descargar CV <i class="fa-solid fa-download" style="vertical-align: middle;"></i>
                 </button>
    
                
    
        </article>
        <div class="cont-image">
            <img class="image-about"  src="assets\images\enzo.png" alt="">
            
            
            
        </div>
            
    

    </div>

    

    


    


</section>
