#aboutme{
    
    
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
   
    
    
  
}

.fade-in {
    opacity: 0;
    transform: translateY(90px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  .fade-in.visible {
    opacity: 1;
    transform: translateY(0);
  }
.container-all{
    width: 1000px;
    display: flex;
    
    justify-content: space-between;


}
.cont-title{
    display: flex;
    align-items: center;
    
    
}
.fa-circle{
    font-size: 15px;
    margin-right: 10px;
    vertical-align: middle;
    color: var(--ligth-green);


}
h2{
    /* color: var(--ligth-green); */
    color: var(--light-white);
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
    font-size: 2.8rem;
    margin-bottom: 10px;
    
    width: fit-content;
    
}
h2::after{
    content: '';
    display: inline-block;
    margin-left: 10px;
    
    width: 280.05px;
    height: 1px;
    background-color: var(--ligth-green);
    /* background-color: #233552; */
    vertical-align:middle;
  
    
}
.subtitle{
    /* color: var(--light-white); */
    color: var(--ligth-green);
    font-family: 'Ignis et Glacies Sharp', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.7rem;
    margin-bottom: 1.2rem;
}
.cont-image{
    display: flex;
    flex-direction: column;
    
    height: 100%;
}
.image-about{
    width: 23rem;
    border: 1px solid var(--ligth-green);
    border-radius: 3px;
    margin-top: 9px;
}

.info-about{
    
    width: 30rem; 
    height: 100%;
    color: #a2abc7;
}

.desc-about-1{
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-family: "Rajdhani", sans-serif;
    
    
}
.desc-about-2{
    
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-family: "Rajdhani", sans-serif;
   
    
}
.years-info{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
span{
    font-size: 3rem;
    font-family: 'Ignis et Glacies Sharp', sans-serif;
    font-weight: bold;
    color: var(--ligth-green);
    
    
}
.info-data{
    font-family: 'Ignis et Glacies Sharp', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--light-white);
}

button{
    font-family: 'Ignis et Glacies Sharp', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    padding: 12px 28px 12px 28px;
    color: var(--ligth-green);
    border-radius: 30px;
    margin-top: 2rem;
   
    background-color: rgba(45,212,191,.1);
}
button:hover{
    background-color: var(--ligth-green); 
    color: black;
}

.fa-download{
    font-size: 1rem;
}