<section id="aboutme">

    

    <div class="subtitle-about">
        <i class="fa-regular fa-address-card"></i>
        <h2> Sobre mi</h2>
    </div>
    <article class="info-about">
            <div class="desc-about">Hola, mi nombre es Enzo Berrutti,
                soy un Desarrollador Full Stack de Argentina y vivo en la ciudad de Mar del Plata
                , en la provincia de Buenos Aires.
            </div>
            <div class="desc-about">
                <i class="fa-solid fa-graduation-cap"></i>
                A fines de 2023 finalice mis estudios como Tecnico Universitario en Programacion
                en la UTN Mar del Plata con un promedio
                 de 8,03. 
            </div>
            <div class="desc-about">
                Actualmente estoy en busca de mi primera oportunidad laboral como programador
                 y mientras tanto continuo aprendiendo distintas tecnologias para mejorar mis habilidades.
            </div>

    </article>
        


    


    


</section>
