<nav class="cont-all" [ngClass]="{ 'show-navbar': isScrolledUp }">

    <div class="octagono"><span>E</span></div>

    <div class="container-nav">
        <div class="list-nav" >
            <a [ngClass]="{ 'active': currentSection === 'home' }" (click)="scrollTo('home')" class="btns">Inicio</a>
            <a [ngClass]="{ 'active': currentSection === 'project' }" (click)="scrollTo('project')" class="btns">Proyectos</a>
            <a [ngClass]="{ 'active': currentSection === 'aboutme' }" (click)="scrollTo('aboutme')" class="btns">Sobre mí</a>
            
            <a class="btns-2" href="mailto:enzo.berrutti@gmail.com">Contacto</a>
        </div>
    </div>
   
    
    

</nav>
