<div class="cont-todo">
    
    <div class="home">
        <app-navbar></app-navbar>
        
        <div class="container-all">
            <div class="side-navbar-left">
                <div class="container-mail">     
                    <a href="mailto:enzo.berrutti@gmail.com">enzo.berrutti@gmail.com</a>
                </div>
            </div>
            <div class="cont-section">
                <app-my-section></app-my-section>
                <app-about-section></app-about-section>
                <app-proyects-section></app-proyects-section>
            </div>
            <div class="side-navbar-right">
                <div class="container-mail">
                    <a href="https://www.linkedin.com/in/enzo-berrutti/">linkedin.com/in/enzo-berrutti</a>

                </div>
                

            </div>

        </div>
        
       
    
    </div>
</div>
 


