.home{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    
}

app-my-section,app-about-section,app-proyects-section,app-navbar,app-final-section{
    width: 100%;
}


.container-all{
    width: 100%;
    display: flex;
    justify-content: center;
}
.cont-section{
    width: 60%;
    display: flex;
    flex-direction: column;
   
}


app-about-section{
    display: flex;
    justify-content: center;
}

app-footer{
    width: 100%;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 767px){
    app-footer{
        width: 350px;
        display: flex;
        justify-content: center;
    }
    app-proyects-section{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .cont-section{
        align-items: center;
        width: 100%;
       
    }
    app-my-section{
        width: 100%;
    }
    
}
@media only screen and (min-width: 768px) and (max-width: 1200px){
    app-proyects-section{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .cont-section{
        display: flex;
        justify-content: center;
    }
    app-navbar{
        display: flex;
        justify-content: center;
    }
    app-my-section{
        width: 100%;
        display: flex;
        justify-content: center;

    }
    .cont-section{
        width: 100%;
        
    }
}