.home{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    
}

app-my-section,app-about-section,app-proyects-section,app-navbar,app-final-section{
    width: 100%;
}


.container-all{
    width: 100%;
    display: flex;
    justify-content: center;
}
.cont-section{
    width: 60%;
    display: flex;
    flex-direction: column;
   
}


app-about-section{
    display: flex;
    justify-content: center;
}

app-footer{
    width: 100%;
    display: flex;
    justify-content: center;
}