<div class="cont-todo">
    
    <div class="home">
        <app-navbar></app-navbar>
        
        <div class="container-all">
            <app-sidebar></app-sidebar>
            <div class="cont-section">
                <app-my-section></app-my-section>
                <app-proyects-section></app-proyects-section>
                <app-about-section></app-about-section>
                
                <app-final-section></app-final-section>
                <app-footer></app-footer>
            </div>
            <!-- <app-sidebar-right></app-sidebar-right> -->
           

        </div>
        
       
    
    </div>
</div>
 


