.side-navbar-left{
    
    position: fixed;
    bottom: 90px;
    left: 30px;
    right: auto;
    width: 40px;
}
.container-mail{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;   
}
.container-mail a{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    color: var(--light-white);
    letter-spacing: 0.1em;
    margin: 0;
    margin: 20px auto;
    font-family: "Rajdhani", sans-serif;
    font-size: 15px;
}
.container-mail a:hover{
    color: var(--ligth-green);
}

.container-mail::after {
    content: '';
    display: block;
    width: 1px;
    height: 40px;
    background-color: var(--ligth-green);
    margin: 0px auto;
}
@media only screen and (max-width: 768px){
    .side-navbar-left{
    
        display: none;
    }
}