.sect-project{
    
    width: 100%;
    
    
    
    

}

.container-title{
    display: flex;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    
  
}

h2{
    color: rgb(94 234 212);
    
    font-family: 'Ignis et Glacies Sharp', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    margin-right: 1rem;
}
hr{
    border: 1px solid rgb(94 234 212);
    width: 20rem;
     
}

/* .container-project{
    color: white;
    display: flex;
    width: 1000px;
    
    position: relative;
}
.cont-image{
    width: 60%;
    border-radius: 5px;
    
}
img{
    border-radius: 5px;
}
.container-desc{
   
    width: 450px;
    
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    right: 0;
    top:0;
    bottom: 0;
    text-align: end;
    font-family: "Rajdhani", sans-serif;
}
h4{
    
    margin-bottom: 10px;
    font-size: 35px;
    font-weight: 600;
    
}
.cont-desc{
    
    padding: 25px;
    background-color: red;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 500;
    text-wrap: pretty;
}
ul{
    display: flex;
    justify-content: flex-end;
    
    margin-top: 10px;
    font-size: 17px;
    font-weight: 500;
}
.li-leng{
    margin-left: 14px;

}
.li-code{
    margin-left: 14px;
} */

/* sa -----------------------------------------------------------------------------*/
.imagen-izquierda{
    
    display: flex;
    
    width: 1000px;
    margin-bottom: 6rem;
    
    position: relative;
}
.imagen-izquierda h4{
    
    color: #ccd6f6;
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 1000;
    cursor: pointer;
    
}
.imagen-izquierda h4:hover{
    
    color: rgb(94 234 212);
}
.imagen-izquierda .cont-image {
    width: 60%;
    border-radius: 5px;
}
.imagen-izquierda img{
    border-radius: 5px;

}
  
.imagen-izquierda .container-desc {
    width: 450px;
    
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    right: 0;
    top:0;
    bottom: 0;
    text-align: end;
    font-family: "Rajdhani", sans-serif;

    
}
.imagen-izquierda .cont-desc{
    
    padding: 25px;
    background-color: #0a222c;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 500;
    text-wrap: pretty;
    color: #a8b2d1;
}
.imagen-izquierda .li-leng{
    margin-left: 14px;
    

}

.imagen-izquierda ul{
    display: flex;
    justify-content: flex-end;
    
    margin-top: 10px;
    font-size: 17px;
    font-weight: 500;
    
}
.imagen-izquierda .li-code{
    margin-left: 14px;
    color: #ccd6f6;
    

}





.imagen-derecha{
    
    display: flex;
    justify-content: flex-end;
    margin-bottom: 6rem;
    width: 1000px;
    
    position: relative;
}
.imagen-derecha h4{
    color: #ccd6f6;
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 1000;
    cursor: pointer;
    
}
.imagen-derecha h4:hover{
    
    color: rgb(94 234 212);
}

    
.imagen-derecha .cont-image {
    width: 60%;
    border-radius: 5px;
}
.imagen-derecha .cont-image img{
    border-radius: 5px;

}
  
.imagen-derecha .container-desc {
    width: 450px;
    
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    bottom: 0;
    top: 0;
    left: 0;
    
    font-family: "Rajdhani", sans-serif;

    
}
.imagen-derecha .container-desc .cont-desc{
    
    padding: 25px;
    background-color: #0a222c;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 500;
    text-wrap: pretty;
    color: #a8b2d1;
}
.imagen-derecha .li-leng{
    margin-right: 14px;
    

}

.imagen-derecha ul{
    display: flex;
    justify-content: flex-start;
    
    margin-top: 10px;
    font-size: 17px;
    font-weight: 500;
}
.imagen-derecha .li-code{
    margin-right: 14px;
    color: #ccd6f6;

}
.li-leng{
    font-size: 15px;
    font-weight: 400;
    color: rgb(94 234 212);
}

.fa-github{
    width: 17px;
    height: 17px;
}
.fa-github:hover{
    color: rgb(94 234 212);
    cursor: pointer;
}
.fa-arrow-up-right-from-square:hover{
    color: rgb(94 234 212);
    cursor: pointer;
}
h6{
    color: rgb(94 234 212);
    font-size: 16px;
    font-weight: 500;
}
