<section class="sect-project">
    <h2>Proyectos</h2>
    <article class="cont-project">
        <div class="cont-image">
            <img class="image-albumize" src="assets\images\albumize.webp" alt="">

        </div>
        
        <div class="desc-project">
            <h3>Albumize - Pagina de reseñas de albumes de musica</h3>
            <ul>
                <li>Angular</li>
                <li>Node.js</li>
                <li>Bootstrap</li>
            </ul>
            <p>
                Pagina de musica en la que puedes dejar una reseña o un puntaje a cualquier album.
                Creada en un equipo de tres personas, utilizando Angular como lenguaje principal y consumiendo la API de Spotify.
            </p>
        </div>
    
    </article>

</section>


