<section class="sect-project">
    
    <div class="cont-all">
        <div class="container-box">
            <div class="small-box">
                <h2>Proyectos</h2>

            </div>
            <div class="large-box">
                <img class="img-albumize" src="assets\images\albumize-normal-modified-2.png" alt="">
            </div>

            

        </div>
        <div class="container-box">
            <div class="large-box">

            </div>
            <div class="small-box">

            </div>
            

          
            

        </div>
    </div>
    

</section>


