<section class="sect-project" id="project">

    <div class="container-title" #projectItem >
        <h2><i class="fa-regular fa-circle"></i>Proyectos</h2>
        
    </div>
    <div #projectItem class="container-project" *ngFor="let proyecto of proyectos; let i = index" [ngClass]="{'imagen-izquierda': i % 2 === 0, 'imagen-derecha': i % 2 !== 0}">
        
        <div class="cont-image">
            <img [src]="proyecto.imagenUrl" alt="">

        </div>
        <div class="container-desc">
            
            <h6>Proyecto</h6>
            <div class="title-desc">
                <h4>{{ proyecto.title }}</h4>

            </div>
            
            <div class="cont-desc">
                <p class="desc">{{ proyecto.description }}</p>
            </div>
            <ul>
                <li *ngFor="let lenguaje of proyecto.lengList" class="li-leng">{{ lenguaje }}</li>
                
            </ul>
            <ul>
                <li class="li-code"><i class="fa-brands fa-github"></i></li>
                <li class="li-code"><i class="fa-solid fa-arrow-up-right-from-square"></i></li>
                
            </ul> 
            

        </div>
        

    </div>

</section>


