.container-all{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 17rem;
    padding-top: 12rem;
}

.container-final {
    opacity: 0;
    transform: translateY(90px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    width: 100%;
}
.visible {
    opacity: 1;
    transform: translateY(0);
}
.container-final{
    


    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;



}
.cont-title{
    display: flex;
    justify-content: center;
}
h3{
    
    color: var(--light-white);
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 10px;
   
}
.fa-circle{
    font-size: 15px;
    margin-right: 10px;
    vertical-align: middle;
    color: var(--ligth-green);


}
p{
    color: #a2abc7;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-family: "Rajdhani", sans-serif;
    text-align: center;
}
.contact-button{
    font-family: "Rajdhani", sans-serif;
    font-size: 1.3rem;
    color: rgb(94 234 212);
    width: 150px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-weight: 500;
    border-radius: 3px;
    border: 1px solid var(--ligth-green);
    

}
.contact-button:hover{
    border: 0px solid #070d1b;
}
.contact-button:hover::before{
    content: "";
    position: absolute;
    left:0;
    top:0;
    width: 0;
    height: 0;
    border-top: 1px solid var(--ligth-green);
    border-right: 1px solid var(--ligth-green);
    border-radius: 3px;
    animation: border-top-right 1.5s infinite alternate;
}
.contact-button:hover::after {
    content: "";
    position: absolute;
    right:0;
    border-radius: 3px;
    bottom:0;
    width: 0;
    height: 0;
    border-bottom:1px solid var(--ligth-green);
    border-left: 1px solid var(--ligth-green);
    animation: border-bottom-left 1.5s infinite alternate;
}
 
  @keyframes border-bottom-left {
    0%    {width:150px;   height:100%;}
    25%   {width:150px; height:100%;}
    50%   {width:150px; height:0px;}
    100%  {width:0px; height:0px;}
  }
  @keyframes border-top-right {
    0%    {width:150px;   height:100%;}
    25%   {width:150px; height:100%;}
    50%   {width:150px; height:0px;}
    100%  {width:0px; height:0px;}
  }
.btns-2{
   
    color: rgb(94 234 212);
    font-family: "Rajdhani", sans-serif;
    padding: 0.8rem 1.05rem;
    border: 1px solid var(--ligth-green);
    border-radius: 3px;
    font-size: 22px;
    font-weight: 400;
    width: fit-content;
    position: relative;
    z-index: 1;
    overflow: hidden;


}




.btns-2::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left:-100%;
    top: 0;
    background-color:var(--dark-green-noopac);
    border-radius: 3px;
    transition: all 0.5s ease;
    z-index: -1;
  
}
.btns-2:hover::before{
    left: 0;
    
}
.cont-btn{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}


@media only screen and (max-width: 768px){
    .container-all{
        
        padding-bottom: 17rem;
        padding-top: 25rem;
    }
    .container-final{
  
        width: 350px;

    }
    h3{
    
      
        
        font-size: 2rem;
        margin-bottom: 10px;
       
    }
    .cont-title{
        width: 350px;
    }
    p{
        
        margin-bottom: 0.2rem;
        font-size: 1.15rem;
        
    }
    
}