<div class="container-all">
    <div class="container-final" #projectItem>
        <div class="cont-title">
            <h3><i class="fa-regular fa-circle"></i>Ponte en Contacto</h3>
        </div>
        <p>Actualmente me encuentro en búsqueda de mi primera oportunidad laboral como programador. 
            Si te interesa mi trabajo, puedes contactarte conmigo y te responderé lo más rápido posible.</p>
        <div class="cont-btn">
            <a href='mailto:enzo.berrutti@gmail.com' class="contact-button">Contacto</a>
            <!-- <a class="btns-2" href="mailto:enzo.berrutti@gmail.com">Contacto</a> -->
        </div>
    </div>
</div>
