:root{
    --ligth-green:rgb(94 234 212);
    --dark-green-opac:rgba(45,212,191,0.2);
    --dark-green-noopac:#0a222c;

    --dark-white:#c7cad4;
    --light-white:#ccd6f6;

    --background-blue:#070d1b;


}